<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{asset("css/style.css")}}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block script %} {% endblock %}
</head>
<body>
<header>
        <nav>
            <div><img id="logo" src="{{ asset("img/logo.png") }}"></div>
            <div id="menu">
                <div> <img class="icon" src="{{ asset("img/user.png")}}"> Profil</div>
            </div>
        </nav>
</header>
{% block page_content %} {% endblock %}
</body>