{% extends 'base.html.twig' %}
{% block page_title %} Mon profil {% endblock %}
{% block script %}<link rel="stylesheet" type="text/css" href="{{asset("css/style-user.css")}}">{% endblock %}
{% block page_content %} 
    <div class="page-content left-20">
        <h1>Mon compte</h1>
        <p>Tous les détails de votre compte sont disponibles ici.</p>
        <div id="profil">
            <img id="pp" src="{{ asset("img/uploads/"~ user.avatarPath ~"")}}">
            <div id="infos-profil">
                <div> Photo de profil</div>
                <h2> {{ user.firstName }} {{ user.lastName }}</h2>
                <div> Votre photo de profil est associée à votre adresse mail. Les sites internet utilisant notre service y auront accès.</div>
                <div id="edit"> Editer le profil</div>
            </div>
        </div>
        <div id="email">
            <div id="email-section"> Email </div>
            <div id="email-user"> {{ user.email }}</div>
        </div>
        <form method="post" action="{{ path('deconnexion') }}">
            <button id="deconnexion"> Se déconnecter</button>
        </form>
    </div>
{% endblock %}
