{% extends 'base.html.twig' %}
{% block page_title %} Mon profil {% endblock %}
{% block script %}
    <link rel="stylesheet" type="text/css" href="{{asset("css/style-user.css")}}">
    <script defer type="text/javascript" src="{{ asset("js/script-user.js") }}"></script>
{% endblock %}
{% block page_content %} 
    <div class="page-content left-20">
        <h1>Mon compte</h1>
        <p>Tous les détails de votre compte sont disponibles ici.</p>
        <div id="profil">
            <img id="pp" src="{{ asset("img/uploads/"~ user.avatarPath ~"")}}">
            <div id="infos-profil">
                <div> Photo de profil</div>
                <h2> {{ user.firstName }} {{ user.lastName }}</h2>
                <div> Votre photo de profil est associée à votre adresse mail. Les sites internet utilisant notre service y auront accès.</div>
                <a href="{{ path('edit') }}" id="edit"> Editer le profil</a>
            </div>
        </div>
        <div id="email">
            <div id="email-section"> Email </div>
            <div id="email-user"> {{ user.email }}</div>
        </div>
        <div class="flex-row" >
            <form method="post" action="{{ path('deconnexion') }}">
                <button id="deconnexion" class="bottom-button"> Se déconnecter</button>
            </form>
            <button id="delete" class="bottom-button" onclick="popUpDelete()"> Supprimer mon compte</button>
        </div>
        <div id="popup">
            <img id="close" class="icon" src="{{ asset("img/close.png") }}" onclick="cancelDelete()">
            <div>
                <div class="margin-bottom">Souhaitez-vous vraiment supprimer votre compte? Toutes vos données seront effacées.</div>
                <div class="flex-row" >
                    <button onclick="deleteEvent()" class="button">Supprimer mon compte</button>
                    <button onclick="cancelDelete()" class="button">Annuler</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
